h1{
    color: rgb(53, 155, 104);
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.sierra{
    color: orange;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.titulo{
    color:peru;
}
.bienvenidos{
    color: rgb(0, 197, 0);
   
}
.grupo{
    border: 1px rgb(119, 175, 248) ;
    border-style: solid;
    padding-left: 10px;
    margin-left: 200px;
    margin-top: -100px;
    width: 900px;
    display: inline-block;
}
.links{
    display: inline-block;
}